<!DOCTYPE html>
<html lang="en" style="text-align: center;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Restaurante</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
         <link rel="stylesheet" href="assets/css/Lista-Productos-Canito.css"> 
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="shortcut icon" href="./assets/Images/claw.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="shortcut icon" href="./assets/Images/claw.png" type="image/x-icon"></head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img id="icononav" src="./assets/Images/crab.png" alt="" style="height: 64px;">
        <a class="navbar-brand" href="#">El crustáceo cascarudo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="Clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="TarjetaCredito">Tarjetas de crédito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Proveedores">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Direcciones">Direcciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Factura">Facturas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inventarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="Inventario">Inventario</a>
                        <a class="dropdown-item" href="producto_inventario">Inventario/Producto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compras
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="Compras">Compras</a>
                        <a class="dropdown-item" href="compra_inventario">Compras/Inventario</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="Productos">Productos</a>
                        <a class="dropdown-item" href="producto_factura">Producto/Factura</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding: 20px;">
        <h1>Comprobación de paginas online</h1>
        <p>Para revisar que si podemos realizar nuestros pedidos a los proveedores de manera online</p>
        <form action="http://localhost:3000/proveedores_buscar" method="POST">
            Ingresar dominio o URL  <input type="text" name="fname"><br>
            <button class="btn btn-primary" style="margin: 10PX;" type="submit">Comprobar</button>
        </form>
        <h2 id="ex" name="ex"></h2>
    </div>
    

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>